<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png">
    
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>
<body>
<center>
  <h1>PennBook</h1>
  <h2>Login</h2>
  
  <% if (error) { %>
    <%  if (error === 1){ %>
  		<font color="red"> Fields cannot be left blank.</font>
    <%}else if (error === 2) {%>
  		<font color="red"> User does not exist.</font>		
    <%}else if (error === 3){ %>
  		<font color="red"> Incorrect password.</font>
	<%} %>
  <%} %>
  
  <div class="login-box" style="width: 300px">
  <form action="/checklogin" method="post">
    <input type="email" name="email" size="20" class="form-control" placeholder="Email"><br>
	<input type="password" name="password" size="20" class="form-control" placeholder="Password"><br>
	<input type="submit" value="Login" class="btn btn-lg btn-inverse btn-block">
  </form>
  </div>
  <br></br>
  <div class="sign-up" style="width: 200px">
  Don't have an account?
  <form action="/signup" method="get">
  <input type="submit" value="Sign Up" class="btn btn-inverse">
  </form>
  </div>
  <br>
  <br>
</body>
<footer>
  <p>Authors: Dhruv Maheshwari (dhruvm) & Corey Loman (loman)</p>
</footer>
</html>
