<html>
  <head><title>Search</title></head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  <!-- 
    function updateSugg() {
      var term = document.getElementById('abc').value;
      $.getJSON('/suggest/'+escape(term), function(elements) {
      	if (elements.elements != undefined) {
       		var htmlOut = "";
        	for (var i=0; i<elements.elements.length; i++) {
        		var id = elements.elements[i].split(',')[0];
        		var fn = elements.elements[i].split(',')[1];
        		var ln = elements.elements[i].split(',')[2];
          		htmlOut += "<a href='/profile/" + id + "'><div class='results'>" +fn + ' ' + ln +"</div></a>\n";
        	}
       		$("#xyz").html(htmlOut);
       } else {
       		var htmlOut = "No users found."
       		$("#xyz").html(htmlOut);
       }
      });
    } // -->
  </script>

  <style type="text/css">
  .results {
  	width: 130px;
  	padding: 4px;
  	margin-top: 0px;
  	border: 1px solid black;
  }

  .results:hover {
  	background-color: #dddddd;
  } </style>
  <body>
    <div class="container" style="width:130px">
    <form action="" method="" onSubmit="return false">
      <input type="text" name="thetext" size="20" id="abc" onKeyUp="updateSugg()"><br>
      <div id="xyz"></div>
    </form>
</div>
  </body>
</html>